body {
background-color: #F7F9FC;
	color:  #40434E;
	font-family: 'Lora', serif;
	font-weight: lighter;
}

h1 {

	color:  #3A98B9;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 50px;
}

h2, h3 {
color:  #3A98B9;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;

}

a{
font-family:  'Roboto', sans-serif;
text-decoration: none;
color: #40434E&@;
font-weight: 600;
font-size: 15px;
}

a:hover {
color: #F1DABF;
}



/* Custom design with class (99% of your design)*/
.container {
	width: 700px;
	margin:  40px auto;
}

@media (max-width: 760px ) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin:  20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-red {
	background-color: #3A98B9;
	color: white;
	padding: 15px 20px;
	border-radius: 5%;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display:  inline;
	padding:  10px;
}

.list-inline svg {
	size: 50px;
	color: #40434E;
}

.list-inline svg:hover{
	color: #3A98B9;
}

S